/*
Cores
- #4F3E8C: uma cor azul escura
- #9177F2: uma cor azul claro
- #221E40: uma cor azul muito escura
- #161426: uma cor azul quase preta
- #46A66F: uma cor verde azulada

- #D92B04: uma cor laranja escura
- #45858C: uma cor azul verde
- #A0D9D9: uma cor azul claro
- #D9C589: uma cor bege
- #BF9765: uma cor marrom claro

- #8C1C3A: uma cor marrom
- #8F244E: uma cor marrom
- #F2A88D: uma cor laranja claro
- #D9765F: uma cor laranja
- #BF8821: uma cor marrom

font-family: 'Caveat', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Marhey', cursive;
font-family: 'Mynerve', cursive;
font-family: 'Roboto', sans-serif;

*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-family: 'Mynerve', cursive;  
  text-shadow: 4px 4px 6px #000;
  font-weight: 700;
  font-size: mx(44px, 5.2vw);
}

/*Elementos do Header*/

header{
  max-width: 100%;
  height: 90vh;
  /*Deixar a cor com menos brilho*/
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('../images/headerCapaG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}