/*
Cores
- #4F3E8C: uma cor azul escura
- #9177F2: uma cor azul claro
- #221E40: uma cor azul muito escura
- #161426: uma cor azul quase preta
- #46A66F: uma cor verde azulada

- #D92B04: uma cor laranja escura
- #45858C: uma cor azul verde
- #A0D9D9: uma cor azul claro
- #D9C589: uma cor bege
- #BF9765: uma cor marrom claro

- #8C1C3A: uma cor marrom
- #8F244E: uma cor marrom
- #F2A88D: uma cor laranja claro
- #D9765F: uma cor laranja
- #BF8821: uma cor marrom

font-family: 'Caveat', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Marhey', cursive;
font-family: 'Mynerve', cursive;
font-family: 'Roboto', sans-serif;

*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-family: 'Mynerve', cursive;  
  text-shadow: 4px 4px 6px #000;
  font-weight: 700;
  font-size: mx(44px, 5.2vw);
}

h2{
  font-family: 'Marhey', cursive;  
  text-shadow: 4px 4px 6px #464646;
  font-weight: 700;
  font-size: mx(20px, 2.8vw);  
}

div.chamada a{
  font-size: max(16px, 1.8vw);
  color: #fff;
  text-decoration: none;
  padding: 20px 80px;
  border-radius: 50px;
  font-weight: 600;
  background: linear-gradient(rgba(217,197,137,1) 0%, rgba(140,28,58,1) 50%, rgba(140,28,58,1) 100%);

  display: inline-block;
  animation-name: HeaderA-moverParaCima;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;  
  transition: .3s ease-in-out;
}

div.chanada a:hover{
  opacity: .8;
}

/*Elementos do Header*/
header{
  max-width: 100%;
  height: 90vh;
  /*Deixar a cor com menos brilho*/
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url('../images/headerCapaG.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

/*Navebar*/
header nav#nav-esquerda{
  width: 100%;
  height: 150px;
  display: flex;
  flex-flow: row;
  align-items: center;
  /*justify-content: space-between;*/
}

header nav#nav-esquerda div#logo{
  max-width: 100px;
  max-height: 120px;
  margin-left: 5rem;
}

header nav#nav-esquerda div#logo img{
  max-width: 100%;
  max-height: 100%
}

/*Menu Hambirguer*/
header nav#nav-esquerda ul#icone-menu{
  display: none;
}

header nav#nav-esquerda ul#icone-menu li{
  list-style: none;
}

header nav#nav-esquerda ul#icone-menu li ion-icon{
  font-size: 50px;  
  color: #fff; 
  margin-right: 2rem;
}

/*Menu*/
header nav#nav-esquerda ul.menu-principal{
  margin-left: 5rem;
  display: flex;
  flex-flow: row wrap;
}

header nav#nav-esquerda ul.menu-principal li{
  list-style: none;
  margin-right: 2rem;
}

header nav#nav-esquerda ul.menu-principal li a{
  text-decoration: none;
  color: #fff;
  font-size: 110%;
  text-shadow: 4px 6px 10px #000;
  padding-bottom: 10px;
  transition: .3s ease-in-out;
}

header nav#nav-esquerda ul.menu-principal li a:hover{
  opacity: .6;
  border-bottom: 1px solid #fff;
}

/*Chamada*/
header div.chamada{
  /*position: absolute;*/
  width: 100%;
  height: 300px;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, - 50%);
}

header div.chamada h1{
  color: #fff;
  animation-name: HeaderH1-moverParaDireita;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

header div.chamada h2{
  color: #D9C589;
  margin-bottom: 55px;
  animation-name: HeaderH1-moverParaEsquerta;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

/*Sobre*/
section.sobre{
  max-width: 100%;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  text-align: center;
}

section.sobre div.sobre-mestre{
  text-align: center;
  margin-bottom: 40px;
}

section.sobre div.sobre-mestre img{
  border: 2px solid #BF9765;
}

select.sobre div.sobre-mestre h2{
  font-size: max(22px, 1.8vw);
  margin-top: 10px;
}

